In [1]:
# Imports
import pandas as pd

In [12]:
# Reading data
data_pd = pd.read_csv('data/Avocado.csv')

# Cleaning up region names to avoid duplicates
data_pd['region'] = (data_pd['region'].str.replace('/', '')
                                      .str.replace(' ', ''))

# Ideas to explore
- Estimating the price elasticity of demand for avocados
- Demand forecasting
- Apply double machine learning (EconML or CausalML) to perform the above two
- Given external data with unit costs of avocado over the timeframe, can we describe the optimal price and optimize for the future?
- Round number effect?

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
10373,2016-01-04,0.65,719749.77,204145.28,256691.54,22617.47,236295.48,138815.05,97480.43,0.0,conventional,2016,SanDiego
10374,2016-01-10,0.81,578610.94,155537.61,153030.46,21523.37,248519.50,144796.06,103723.44,0.0,conventional,2016,SanDiego
10375,2016-01-17,0.79,561712.98,164565.34,190461.21,19123.62,187562.81,141951.66,45611.15,0.0,conventional,2016,SanDiego
10376,2016-01-24,0.85,564637.66,104831.87,157896.39,21607.39,280302.01,238110.78,42191.23,0.0,conventional,2016,SanDiego
10377,2016-01-31,0.72,643326.66,174249.75,192217.79,18036.77,258822.35,219631.97,39190.38,0.0,conventional,2016,SanDiego
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24484,2015-11-29,1.87,7022.99,1232.37,5300.75,0.00,489.87,489.87,0.00,0.0,organic,2015,SanDiego
24485,2015-12-06,1.83,5564.87,1256.25,3763.92,0.00,544.70,541.37,3.33,0.0,organic,2015,SanDiego
24486,2015-12-13,1.27,12242.29,1084.40,5007.42,3.24,6147.23,674.51,5472.72,0.0,organic,2015,SanDiego
24487,2015-12-20,1.23,11727.34,1099.57,5048.80,0.00,5578.97,592.32,4986.65,0.0,organic,2015,SanDiego
24488,2015-12-27,1.62,8704.72,1834.72,5181.54,0.00,1688.46,472.88,1215.58,0.0,organic,2015,SanDiego